:root{
    --bs-secondary-rgb: 58,84,109;
    --bs-primary-rgb: 26,188,156;
}

.btn-bars {
    color: #76787c;
    border-color: #ffffff;
}

.btn-download{
    color: white;
    border-color: white;
}

.star-icon::before{
    content: "";
    display: inline-block;
    left: 4px;
    width: 20%;
    height: 4px;
    background-color: white;
}

.star-icon::after{
    content: "";
    display: inline-block;
    right:4px;
    width: 20%;
    height: 4px;
    background-color: white;
}

.star-icon-porfolio::before,
.star-icon-porfolio::after{
    background-color: black;
}

.label-border{
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.icon-social{
    margin: 2px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

.icon-social-fb{
    margin: 2px;
    padding:10px 15px;
    border: 1px solid white;
    border-radius: 50%;
}

.text-attention{
    color: rgb(33,166,145);
}

.bg-footer{
    background-color: #2C3E50;
}

