:root{
    --bs-secondary-rgb: 44,62,80;
    --bs-primary-rgb: 26,188,156;
}

.btn-bars {
    color: #76787c;
    border-color: #ffffff;
}

.btn-download{
    color: white;
    border-color: white;
}

.star-icon::before{
    content: "";
    display: inline-block;
    left: 4px;
    width: 20%;
    height: 4px;
    background-color: white;
}

.star-icon::after{
    content: "";
    display: inline-block;
    right:4px;
    width: 20%;
    height: 4px;
    background-color: white;
}

.star-icon-porfolio::before,
.star-icon-porfolio::after{
    background-color: black;
}

